.page {
  display: grid;
  justify-items: center;
  align-content: space-evenly;
  background-color: var(--background-color);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: repeating-linear-gradient(
      to right,
      var(--background-image-color) 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--background-image-color) 0px 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
      var(--linear-gradient-from),
      var(--linear-gradient-to) 100%
    );
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--font-inter), "sans-serif";
  font-variation-settings: "wght" var(--font-weight-normal);
  align-items: center;
}

.page_main {
  display: grid;
  gap: 46px;
}

.page_text_weight_main {
  font-size: 18px;
}

.zero-sprint-section {
  padding-top: 7px;
  padding-left: 11px;
  height: 31px;
  width: 100%;
  font-variation-settings: "wght" var(--font-weight-bold);
}

.card-width {
  width: 48.5vw;
}

.header {
  color: var(--text-color);
  display: grid;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: var(--background-color);
  min-height: 368px;
  min-width: 375px;
  border: 2px solid var(--border-color);
  justify-items: center;
  font-family: var(--font-start), "sans-serif";
  align-content: space-evenly;
}

.header-nav-html {
  margin-top: 110px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.page-subheader {
  font:
    23px var(--font-start),
    "sans-serif";
  text-transform: uppercase;
}

.theme-menu__list {
  margin-left: 20px;
  font:
    14px var(--font-start),
    "sans-serif";
  display: grid;
  gap: 11px;
  position: relative;
}

.section_about_progress {
  margin-bottom: 10px;
  min-width: 375px;
  justify-items: end;
  background-color: var(--background-color);
  color: var(--text-color);
  outline: 2px solid;
  display: grid;
}

.page-little-label {
  font:
    14px var(--font-start),
    "sans-serif";
  position: absolute;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  top: 18px;
  right: 25px;
}

@supports (
  (text-stroke: 1px var(--background-color)) or
    (-webkit-text-stroke: 1px var(--background-color))
) {
  .page-little-label {
    -webkit-text-stroke-color: var(--background-color);
    -webkit-text-stroke-width: 1px;
  }
}

.matrix {
  width: 100%;
  max-width: 100%;
  height: 696px;
  mix-blend-mode: var(--animation-matrix-mix);
  filter: var(--animation-matrix-filter);
}

.look_out_the_window {
  width: 100%;
  max-width: 100%;
  height: 696px;
  filter: var(--look-gif-mix);
}

.defo-gif {
  width: 100%;
  max-width: 100%;
  height: 696px;
  filter: var(--defo-gif-filter);
}

.karman-bro {
  width: 100%;
  max-width: 100%;
  height: 696px;
}

.tegridy {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 696px;
  filter: brightness(0.5);
}

.tegridy_hover::before {
  cursor: pointer;
  position: absolute;
  content: "18+ content";
  color: black;
  font-size: clamp(2.5rem, -0.581rem + 13.1455vw, 11.25rem);
  transform: translateX(0%);
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
  transition: 0.5s ease-in-out;
  background-color: var(--linear-gradient-from);
}

.tegridy_hover::after {
  cursor: pointer;
  position: absolute;
  content: "seriously, it's not for kids";
  color: black;
  font-size: clamp(2.5rem, -0.581rem + 13.1455vw, 11.25rem);
  transform: translateX(0%);
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9;
  top: 1px;
  transition: 0.5s ease-in-out;
  background-color: var(--linear-gradient-from);
}

.tegridy_hover:active::after {
  transform: translateX(-100%);
  opacity: 0;
}

.tegridy_hover:hover::before {
  transform: translateX(100%);
  opacity: 0;
}

.Matthew_McConaughey {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 696px;
  filter: brightness(0.7);
}

.simspon {
  width: 100%;
  max-width: 100%;
  height: 696px;
  position: relative;
  filter: brightness(0.8);
  mix-blend-mode: var(--simpson-mix);
}

.page-html-position {
  width: 100%;
  position: relative;
}

.text-about-start {
  padding: 27px 25px 0px 25px;
}

.section-position-text {
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

.buttons {
  justify-content: flex-end;
  display: flex;
  gap: 7px;
  padding: 43px 26px 22px;
}

.car {
  width: 100%;
  object-fit: cover;
}

.card__like-button {
  cursor: pointer;
  color: var(--diffence-color-like);
  border: 2px solid var(--diffence-color-like);
  font:
    14px var(--font-start),
    "sans-serif";
  background-color: transparent;
  min-height: 38px;
  min-width: 130px;
  position: relative;
  mix-blend-mode: difference;
}

.text-about-memories {
  padding: 10px 6px 0px 25px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  display: contents;
}

.theme-menu__button {
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  position: relative;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  pointer-events: none;
  left: -14px;
}

.theme-menu__button::before {
  animation: moving 0.5s infinite ease-in-out alternate;
}
@keyframes moving {
  from {
    translate: 0 0;
  }
  to {
    translate: 4px 0px;
  }
}

.theme-menu__button:hover {
  animation: opacity 0.3s ease forwards;
}
@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.6;
  }
}

.theme-menu__button::after {
  position: absolute;
  content: "";
  bottom: 0;
  display: block;
  width: 0;
  height: 2px;
  background: var(--text-color);
  transition: 0.3s;
}

.theme-menu__button:focus::after {
  text-decoration: none;
  outline: 0;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.card__like-button:focus {
  text-decoration: none;
  outline: 0;
}

.card__like-button:focus-visible {
  text-decoration: none;
  outline: 0;
  box-shadow: 2px 2px 0px 0px var(--diffence-color-like);
  transition: 0.3s;
}

.hover_button_like {
  position: relative;
}

.hover_button_like::before {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 38px;
  background-color: var(--like-text-button);
  overflow: hidden;
  z-index: 0;
  transition: 0.5s ease-in-out;
}

.button__text {
  z-index: 10;
}

.hover_button_like:hover::before {
  width: 100%;
  transform: scale(1);
}

.card__icon-button:focus {
  outline: 0;
  border: none;
}

.card__icon-button:focus-visible {
  border: none;
  text-decoration: none;
  outline: 2px solid;
  box-shadow: 2px 2px 0px 0px var(--border-color);
  transition: 0.3s;
}

.heart-button {
  width: 40px;
  height: 40px;
}

.like-icon {
  cursor: pointer;
}

.sparks {
  opacity: 0;
}

.heart:hover {
  --core-color: var(--like-hover-color);
  --main-color: var(--like-hover-color);
}

.core {
  transition: 0.3s linear;
  transition-delay: 0.03s;
}

.main-body {
  transition: 0.3s linear;
  transition-delay: 0.05s;
}

.heart:active {
  --core-color: var(--heart-main-color);
  --main-color: var(--heart-main-color);
}

.like-icon.is-liked {
  transition: 0.3s linear;
  --core-color: var(--heart-main-color);
  --main-color: var(--heart-main-color);
  --heart-contour: var(--heart-contour-liked);
  animation: scale 0.3s ease-in;
  animation-delay: 0.1s;
}

.like-icon.is-liked .contour {
  transition: 0.3s linear;
  transition-delay: 0.03s;
}
@keyframes scale {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}

.like-icon.is-liked .sparks {
  animation: opacity 0.3s ease-in;
  animation-delay: 0.3s;
}
@keyframes opacity-sraks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer_page_content {
  display: flex;
  justify-content: center;
}

.footer_page_button {
  background-color: var(--background-color);
}

.floppy {
  fill: var(--core-color);
}

.floppy_small {
  width: 40px;
  height: 40px;
  transform: scale(0.53);
}

.footer_button_floppy {
  cursor: pointer;
  color: var(--diffence-color-like);
  border: 2px solid var(--diffence-color-like);
  font:
    14px var(--font-start),
    "sans-serif";
  background-color: transparent;
  min-height: 38px;
  min-width: 130px;
  position: relative;
  mix-blend-mode: difference;
  align-items: center;
  display: flex;
}

.footer_button_floppy:focus {
  text-decoration: none;
  outline: 0;
}

.footer_button_floppy:focus-visible {
  text-decoration: none;
  outline: 0;
  box-shadow: 2px 2px 0px 0px var(--diffence-color-like);
  transition: 0.3s;
}

.footer_page_button::before {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 43px;
  background-color: var(--like-text-button);
  overflow: hidden;
  z-index: 0;
  transition: 0.5s ease-in-out;
}

.footer_page_button:hover::before {
  width: 22.5%;
  transform: scale(1);
}

dialog[open] {
  background-color: var(--background-color);
  color: var(--text-color);
  outline: 2px solid;
  font:
    14px var(--font-start),
    "sans-serif";
  display: flex;
  border-width: 0;
  max-inline-size: 357px;
  inline-size: 98%;
  min-height: 193px;
  position: fixed;
  inset: 0;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog-opnd {
  display: grid;
}

.text-dialog {
  margin-top: 24px;
  margin-right: 20px;
  line-height: 20.5px;
  grid-row-start: 1;
  text-transform: uppercase;
  margin-left: 20px;
  grid-column-start: 2;
  grid-column-end: 4;
}

.dialog-button {
  cursor: pointer;
  position: relative;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  margin-top: 1px;
  margin-left: 20px;
  width: 293px;
  height: 38px;
  color: var(--diffence-color-like);
  border: 2px solid var(--diffence-color-like);
  background-color: transparent;
  mix-blend-mode: difference;
}

.floppy_big {
  margin-top: 35px;
  width: 40px;
  margin-left: 19px;
  height: 40px;
  transform: scale(1);
}

.dialog-button:focus {
  text-decoration: none;
  outline: 0;
}

.dialog-button:focus-visible {
  text-decoration: none;
  outline: 0;
  box-shadow: 2px 2px 0px 0px var(--diffence-color-like);
  transition: 0.3s;
}

.dialog-button::before {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 37px;
  background-color: var(--diffence-color-like);
  overflow: hidden;
  z-index: 0;
  left: -1px;
  bottom: -1px;
  transition: 0.5s ease-in-out;
  mix-blend-mode: difference;
}

.dialog-button:hover::before {
  width: 101%;
  transform: scale(1);
}

@media (width <= 375px) {
  .media_image_position {
    height: 371px;
  }
}
