.page {
  display: grid;
  justify-items: center;
  align-content: space-evenly;
  background-color: var(--background-color);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: repeating-linear-gradient(
      to right,
      var(--background-image-color) 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--background-image-color) 0px 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
      var(--linear-gradient-from),
      var(--linear-gradient-to) 100%
    );
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--main-font), "sans-serif";
  font-variation-settings: "wght" var(--font-weight-normal);
  align-items: center;
}

.page_main {
  display: grid;
  gap: 54px;
}

.section-width {
  width: 48.5vw;
}

.section_title {
  border-left: 2px solid var(--diffence-color-like);
  border-right: 2px solid var(--diffence-color-like);
  font-size: 18px;
  padding-top: 7px;
  padding-left: 11px;
  width: 100%;
  font-variation-settings: "wght" var(--font-weight-bold);
}

.header {
  color: var(--super-color);
  display: grid;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: var(--background-color);
  min-width: 375px;
  border: 2px solid var(--super-color);
  justify-items: center;
  font-family: var(--font-accent), "fantasy";
  align-content: space-evenly;
}

.header-link-html {
  margin-top: 136px;
  margin-bottom: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.page-subheader {
  font:
    clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem) var(--font-accent),
    "sans-serif";
  text-transform: uppercase;
}

.theme-menu__list {
  margin-top: 25px;
  margin-left: 20px;
  margin-block-end: 25px;
  font:
    14px var(--font-accent),
    "sans-serif";
  display: grid;
  gap: 11px;
  position: relative;
}

.sections_properties {
  min-width: 375px;
  justify-items: end;
  background-color: var(--background-color);
  color: var(--super-color);
  outline: 2px solid;
  display: grid;
}

.page-little-label {
  font:
    14px var(--font-accent),
    "sans-serif";
  position: absolute;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  top: 18px;
  right: 25px;
  text-shadow: 0 0 1px var(--background-color);
}

@supports (
  (text-stroke: 1px var(--background-color)) or
    (-webkit-text-stroke: 1px var(--background-color))
) {
  .page-little-label {
    text-shadow: none;
    -webkit-text-stroke-color: var(--background-color);
    -webkit-text-stroke-width: 1px;
  }
}

.image_properties {
  border-bottom: 2px solid var(--super-color);
  border-top: 2px solid var(--super-color);
  width: 100%;
  max-width: 100%;
  aspect-ratio: 1/1;
}

.matrix_filter {
  mix-blend-mode: var(--animation-matrix-mix);
  filter: var(--animation-matrix-filter);
}

.filter_rabbit {
  mix-blend-mode: var(--animation-matrix-mix);
  filter: var(--animation-matrix-filter);
}

.look_out_the_window {
  filter: var(--look-gif-mix);
}

.defo-gif {
  filter: var(--defo-gif-filter);
}

.karman-bro {
  border: 2px solid var(--super-color);
}

.tegridy {
  filter: brightness(0.5);
}

.Matthew_McConaughey {
  filter: brightness(0.7);
}

.simspon {
  filter: brightness(0.8);
  mix-blend-mode: var(--simpson-mix);
}

.page-html-position {
  width: 100%;
  position: relative;
}

.page_main_text {
  font-size: 18px;
  padding: 27px 25px 0px 25px;
}

.section-position-text {
  display: grid;
  grid-template-rows: 1fr min-content min-content;
  gap: 25px;
}

.like_position {
  padding: 11px;
  /* margin-top: 25px; */
  margin-right: 27px;
  margin-bottom: 24px;
}
.buttons {
  justify-content: flex-end;
  display: flex;
  gap: 7px;
  /* padding: 35px 26px 13px 15px; */
  align-items: flex-start;
}

.card__like-button {
  cursor: pointer;
  color: var(--diffence-color-like);
  border: 2px solid var(--diffence-color-like);
  font:
    14px var(--font-accent),
    "sans-serif";
  background-color: transparent;
  min-width: 130px;
  position: relative;
  mix-blend-mode: difference;
}

.text-about-memories {
  font-size: 18px;
  padding-left: 25px;
  /* padding: 27px 6px 0px 25px; */
}

.card__icon-button {
  background-color: transparent;
  border: none;
  display: contents;
}

.theme-menu__button {
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  position: relative;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -14px;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}
.theme-menu__button::after {
  position: absolute;
  content: "";
  bottom: 0;
  display: block;
  width: 0;
  height: 2px;
  background: var(--super-color);
  transition: 0.3s;
}

.theme-menu__button:focus::after {
  text-decoration: none;
  outline: 0;
}

.theme-menu__button:focus-visible::after {
  pointer-events: none;
  opacity: 0.3;
  width: 100%;
}

.card__like-button:focus {
  text-decoration: none;
}

.card__like-button:focus-visible {
  text-decoration: none;
  outline: 0;
  box-shadow: 2px 2px 0px 0px var(--diffence-color-like);
  transition: 0.3s;
}

.hover_button_like {
  position: relative;
}

.hover_button_like::before {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 38px;
  background-color: var(--super-color);
  overflow: hidden;
  z-index: 0;
  transition: 0.5s ease-in-out;
}

.button__text {
  z-index: 10;
}

.hover_button_like:hover::before {
  width: 81%;
  transform: scale(1);
}

.card__icon-button:focus {
  outline: 0;
  border: none;
}

.card__icon-button:focus-visible {
  /* border: none;
  text-decoration: none; */
  /* outline: 2px solid; */
  box-shadow: 2px 2px 0px 0px var(--super-color);
  /* transition: 0.3s; */
}

.heart-button {
  width: 40px;
  padding-top: 6px;
  padding-left: 2px;
  height: 40px;
}

.like-icon {
  cursor: pointer;
}

.sparks {
  opacity: 0;
}

.heart:hover {
  --core-color: var(--super-color);
  --main-color: var(--super-color);
}

.heart:active {
  --core-color: var(--heart-main-color);
  --main-color: var(--heart-main-color);
}

.footer_page_content {
  display: flex;
  justify-content: center;
  margin-block-end: 105px;
}

.footer_page_button {
  background-color: var(--background-color);
}

.floppy {
  fill: var(--core-color);
}

.floppy_small {
  width: 40px;
  height: 40px;
  transform: scale(0.53);
}

.footer_page_button {
  position: relative;
}

.footer_page_button::before {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background-color: var(--super-color);
  overflow: hidden;
  z-index: 0;
  transition: 0.5s ease-in-out;
}

.button__text {
  z-index: 10;
}

.footer_page_button:hover::before {
  width: 100%;
  transform: scale(1);
}

.footer_button_floppy {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2px 15px 6px 13px;
  color: var(--diffence-color-like);
  border: 2px solid var(--diffence-color-like);
  font:
    14px var(--font-accent),
    "sans-serif";
  background-color: transparent;
  min-width: 130px;
  position: relative;
  mix-blend-mode: difference;
}

.footer_button_floppy:focus {
  text-decoration: none;
}

.footer_button_floppy:focus-visible {
  text-decoration: none;
  outline: 0;
  box-shadow: 2px 2px 0px 0px var(--diffence-color-like);
  transition: 0.3s;
}

dialog[open] {
  background-color: var(--background-color);
  color: var(--super-color);
  outline: 2px solid;
  font:
    14px var(--font-accent),
    "sans-serif";
  display: flex;
  border-width: 0;
  max-inline-size: 357px;
  inline-size: 98%;
  inset: 0;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog-opnd {
  display: grid;
}

.text-dialog {
  margin-top: 24px;
  margin-right: 20px;
  line-height: 20.5px;
  grid-row-start: 1;
  text-transform: uppercase;
  margin-left: 20px;
  grid-column-start: 2;
  grid-column-end: 4;
}

.dialog-button {
  cursor: pointer;
  position: relative;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  margin-top: 1px;
  margin-left: 20px;
  width: 293px;
  height: 38px;
  color: var(--diffence-color-like);
  border: 2px solid var(--diffence-color-like);
  background-color: transparent;
  mix-blend-mode: difference;
  text-transform: uppercase;
}

.floppy_big {
  margin-top: 35px;
  width: 40px;
  margin-left: 19px;
  height: 40px;
  transform: scale(1);
}

.dialog-button:focus {
  text-decoration: none;
  outline: 0;
}

.dialog-button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--diffence-color-like);
}

.dialog-button::before {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 37px;
  background-color: var(--diffence-color-like);
  overflow: hidden;
  z-index: 0;
  left: -1px;
  bottom: -1px;
  transition: 0.5s ease-in-out;
  mix-blend-mode: difference;
}

.dialog-button:hover::before {
  width: 101%;
  transform: scale(1);
}

@media (width <= 375px) {
  .page_main {
    gap: 52px;
  }
  .header-link-html {
    margin-top: 121px;
  }
  .footer_button_floppy {
    flex-direction: column;
    padding: 10px 22px 16px 18px;
  }
  .floppy_small {
    transform: scale(0.7);
  }
  .section_title {
    padding-left: 13px;
  }
  .page_main_text {
    padding: 27px 29px 0px 25px;
  }
  .buttons {
    padding: 19px 0px 2px 15px;
  }
}
